DISCORD_TOKEN=
DISCORD_TOKEN2=
DISCORD_TOKEN3=
TARGET_USER_IDS=
TESTER_IDS=
N8N_WEBHOOK_URL=
N8N_AUTH_HEADER=
OWNER_ID=
SUPPORT_CHANNEL_ID=
MONGO_URI=
DISCORD_PREFIX=
N8N_SEARCH_WEBHOOK_URL=
GEMINI_API_KEY=
BITSKINS_API_KEY=